convertToEm($px, $base) {
    if ((unit($px) == "" || unit($px) == "px") && ($px != 0)) {
        return (round($px / $base, 3))em;
    } else {
        return 0;
    }
}

em($value, $base = $baseFontSize) {
    $max = length($value);

    $emValues = ();

    for $i in (0...$max) {
        push($emValues, convertToEm($values[$i], $base));
    }

    return $emValues;
}
