$baseFont = "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Ubuntu, Arial, Sans-Serif;

$fontWeightNormal = 300;
$fontWeightSemiBold = 600;
$fontWeightBold = 800;

$headerHeight = $rhythm(15);

$blogTitleColor = #f7f7f7;
$blogDescriptionColor = #f7f7f7;

$fixedWidthMin = 960px;
$fixedWidthMax = 1200px;

$bpDesktop = 1024;
