&.tag-getting-started { background: #fff; }
&.tag-software-development { background: #990; }
&.tag-web-development { background: #690; }
&.tag-javascript { background: #ff0; }
&.tag-family { background: #069; }
&.tag-faith { background: #639; }
