$post-card-default-background-color: #999;
$post-card-border-color: #f7fafb;
$post-card-height: rhythm(8);
$post-card-info-height: rhythm(4);
$post-card-section-height: rhythm(4);
$post-card-info-color: #fff;

ul.featured-posts {
    @include scut-list-unstyled;
}

.featured-post {
    padding: rhythm();
    position: relative;

    @include minWidth($bp-phone--wide) {
        padding: 0;
        margin: 0 0 rhythm() 0;
        padding-bottom: rhythm();
    }

    &:after {
        background: #fff;
        bottom: rhythm(0.3333333);
        color: $separator-color;
        content: "\272F";
        height: rhythm(0.75);
        font-size: rhythm();
        left: 50%;
        margin: auto auto auto rhythm(-0.375);
        position: absolute;
        text-align: center;
        width: rhythm(0.75);
    }

    article {
        border-bottom: 1px solid $separator-color;
        padding-bottom: rhythm();

        @include minWidth($bp-fixed) {
            width: scut-em($bp-tablet--wide);
            margin: auto;
        }
    }

    a {
        text-decoration: none;
    }

    .featured-post-title {
        display: inline;
        font-weight: $font-weight--normal;
        margin: 0 0 rhythm(0.5);
        // text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    }
}

ul.post-stack {
    @include scut-list-unstyled;
    @include row;
}

.post-card {
    background: $post-card-default-background-color;
    height: $post-card-height;
    overflow: hidden;

    @include minWidth($bp-phone--wide) {
        @include column(6);
        border: 1px solid $post-card-border-color;
        margin-bottom: rhythm() !important;
    }

    @include minWidth($bp-tablet--wide) {
        @include column(4);
    }

    @include minWidth($bp-desktop) {
        @include column(3);
    }

    @import "post-card-tags";

    a, a:visited {
        color: $post-card-info-color;

        &:hover {
            color: $link-hover-color;

            .post-card-info {
                background: rgba(0, 0, 0, 0.7);
            }
        }
    }

    article {
        background-position: center;
        background-repeat:  no-repeat;
        background-size: cover;
        height: $post-card-height;
        position: relative;
    }

    .post-card-info {
        background: rgba(0, 0, 0, 0.5);
        bottom: 0;
        // color: $post-card-info-color;
        height: $post-card-info-height;
        padding: rhythm();
        position: absolute;
        width: 100%;

        @include minWidth($bp-phone--wide) {
            padding: rhythm(0.5);
        }
    }

    .post-card-title {
        font-weight: $font-weight--normal;
        margin: 0 0 rhythm(0.5);
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }

    .post-card-tags {
        @include cf;
        bottom: rhythm();
        display: none;
        font-size: $font-size--xs;
        left: rhythm();
        position: absolute;
        right: rhythm();

        @include minWidth($bp-phone--wide) {
            bottom: rhythm(0.5);
            display: block;
            left: rhythm(0.5);
            right: rhythm(0.5);
        }
    }

    .post-card-tag-list-prefix, .post-card-tag {
        margin-right: rhythm(0.25);
    }

    .post-card-tag-list {
        @include scut-list-floated;
    }

    .post-card-tag {
        &::after {
            content: ", "
        }

        &:nth-last-child(2):after {
            content: "";
        }
    }
}
