$base-font: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Ubuntu, Arial, Sans-Serif;

$font-weight--normal: 300;
$font-weight--semibold: 600;
$font-weight--bold: 800;

$header-height: 20em; // $rhythm(15);

$blog-title-color: #f7f7f7;
$blog-description-color: #f7f7f7;

$fixed-width--min: 960px;
$fixed-width--max: 1200px;

// generic, relative-sized breakpoints
$bp-small: rhythm(20);
$bp-medium: rhythm(32.5);
$bp-large: rhythm(45);

$bp-phone--wide: 640;
$bp-tablet: 768;
$bp-laptop: 1024;
$bp-desktop: 1280;
$bp-desktop--retina: 1440;
