$base-font: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Ubuntu, Arial, Sans-Serif;

$font-weight--normal: 300;
$font-weight--semibold: 600;
$font-weight--bold: 800;

$header-height: 20em; // $rhythm(15);

$blog-title-color: #f7f7f7;
$blog-description-color: #f7f7f7;

$fixed-width--min: 960px;
$fixed-width--max: 1200px;

$bp-desktop: 1024;
