$base-font: /* "Open Sans", */ "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Ubuntu, Arial, Sans-Serif;

$background-color: #fff;
$base-font-color: #777;
$base-font-weight: 300;

$link-color: #09c;
$link-hover-color: #0cf;

$separator-color: #e7eaeb;

$font-size--xxs: 0.65em;
$font-size--xs: 0.75em;
$font-size--s: 0.85em;

$font-weight--normal: 300;
$font-weight--semibold: 600;
$font-weight--bold: 800;

$total-width: 100%;

$header-height: rhythm(12);

$blog-title-color: #f7f7f7;
$blog-description-color: #f7f7f7;

$fixed-width--min: 960px;
$fixed-width--max: 1200px;

// generic, relative-sized breakpoints
$bp-small: rhythm(20);
$bp-medium: rhythm(32.5);
$bp-large: rhythm(45);

$bp-phone--wide: 640;
$bp-tablet: 768;
$bp-tablet--wide: 880;
$bp-fixed: 960;
$bp-laptop: 1024;
$bp-desktop: 1280;
$bp-desktop--retina: 1440;
