@import "normalize";
@import "../../../node_modules/scut/dist/scut";
@import "variables";
@import "utilities";
@import "rhythm";
@import "media";
@import "prism";
@import "icons";

/*! Cypress styles */

* {
    box-sizing: border-box;
}

body {
    font-family: $base-font;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

header.main {
    background: rgba(0, 0, 0, 0.3);
    height: $header-height;
    left: 0;
    padding: rhythm();
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.blog-logo {
    border-radius: 50%;
    box-shadow: 0px 0px 17px rgba(0, 0, 0, 1);
    height: rhythm(4);
    width: rhythm(4);

    @include minWidth($bp-desktop) {
        @include scut-absolute(rhythm() rhythm() n n);
    }
}

.blog-title,
.blog-title a {
    color: $blog-title-color;
    font-weight: $font-weight--normal;
    text-decoration: none;
}

.blog-description {
    color: $blog-description-color;
    font-weight: $font-weight--normal;
}

.feature-image {
    height: $header-height;
}

.main-content {
    height: rhythm(100);

    @include minWidth($bp-phone--wide) {
        padding: rhythm();
    }
}

ul.post-stack {
    @include scut-list-unstyled;

    @include minWidth($bp-phone--wide) {
        @include scut-list-floated;
    }
}

.post-card {
    background-size: cover;
    border: 1px solid #eee;
    height: rhythm(10);
    margin: 0 0 rhythm() 0;
    padding: rhythm();

    @include minWidth($bp-phone--wide) {
        width: 50%;

        &:nth-child(odd) {
            float: left;
        }

        &:nth-child(even) {
            float: right;
        }
    }

    @include minWidth($bp-laptop) {
        width: 33.3333333%;
    }

    @include minWidth($bp-desktop) {
        width: 25%;
    }

    @include minWidth($bp-desktop--retina) {
        width: 20%;
    }

    article {
    }

    .post-card-title {
        margin: 0 0 rhythm(0.5) 0;
    }

    .post-card-clip {

    }

    .post-card-meta {

    }
}
