@import "normalize";
@import "../../../node_modules/scut/dist/scut";
@import "rhythm";
@import "grid";
@import "utilities";
@import "variables";
@import "media";
@import "prism";
@import "icons";
@import "posts";

/*! Cypress styles */

* {
    box-sizing: border-box;
}

body {
    background: $background-color;
    font-family: $base-font;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

a, a:visited {
    color: $link-color;
}

a:hover {
    color: $link-hover-color;
}

header.main {
    background: rgba(0, 0, 0, 0.3);
    height: $header-height;
    left: 0;
    padding: rhythm();
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.blog-logo {
    border-radius: 50%;
    box-shadow: 0px 0px 17px rgba(0, 0, 0, 1);
    height: rhythm(4);
    width: rhythm(4);

    @include minWidth($bp-desktop) {
        @include scut-absolute(rhythm() rhythm() n n);
    }
}

.blog-title,
.blog-title a {
    color: $blog-title-color;
    font-weight: $font-weight--normal;
    text-decoration: none;
}

.blog-description {
    color: $blog-description-color;
    font-weight: $font-weight--normal;
}

.feature-image {
    height: $header-height;
}

.main-content {
    @include minWidth($bp-phone--wide) {
        padding: rhythm();
    }
}
